<p>
	DETAIL NOTES
</p>
<div class="row" *ngFor="let a of arrNote; let i = index">
  <div class="col-md-3">
    <img *ngIf="a[3] == 0" (click)="fav(i)" src="https://icons-for-free.com/iconfiles/png/512/heart-131965017458786724.png" style="width: 100px; height: 100px;" alt="image">

    <img *ngIf="a[3] == 1" (click)="fav(i)" src="https://upload.wikimedia.org/wikimedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/240px-Heart_coraz%C3%B3n.svg.png" style="width: 100px; height: 100px;" alt="image">
    
  </div>
  <div class="col-md-9">
    {{a[0]}} - {{a[1]}} - {{a[2]}}
  </div>
	
</div>

<button style="background:pink;" (click)="GoToFav()">Go to Favorite Note</button>