<p style="font-weight: bold;">
	MY FAVORITE NOTES
</p>
<div *ngFor="let a of arrFavNotes; let i = index">
	<div style="float:left; width:50%;">
		{{a[0]}} / {{a[1]}} / {{a[2]}}
	</div>

	<div style="float:left; width:15%;margin-left:10px;">
		

		<img *ngIf="a[3] == 1" (click)="fav(i)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/240px-Heart_coraz%C3%B3n.svg.png" style="width: 20px; height: 20px;" alt="image">

  </div>

		<div style="clear:both"></div>

		<hr>

	</div>

	<br/><br/>
	<button style="background:pink;" (click)="GoToDetail()">Go to Detail</button>