<p>
	ADD NEW NOTE
</p>

<input type="text" [(ngModel)]="txtJudul"/><br/><br/>
<input type="text" [(ngModel)]="txtIsi"/><br/><br/>
<input type="date" [(ngModel)]="txtTgl"/><br/><br/>

<button style="background:yellow;" (click)="AddNote()">Add Note</button>
<button style="margin-left:15px;background:lightblue;" (click)="GoToDetail()">Detail Note</button>
<button style="margin-left:15px;background:pink;" (click)="GoToFav()">Favorite Note</button>
<br/><br/>{{statusAdd}}
<router-outlet>
</router-outlet>